extends ../layout/layout

block content
    .container
        .row
            .col-xs-4
                h4= type + " Ranking"
            .col-xs-8
                h4.pull-right(style="display: inline-block;")
                    - var types = ["Daily", "Weekly", "Monthly", "Overall"]
                    - var first = true
                    for t in types
                        if !first
                            a.darkgray= " / "
                        a.darkgray(href="/ranking?type=" + t title=t + " Ranking")
                            = t
                        - first = false
        .row
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                ul.list-group
                    li.list-group-item.golden.medal-title.text-center
                        a(href="/repositories/" + ranking[0].repository_id)= ranking[0].name.replace(/.*\//, "")
                    li.list-group-item.medal-description.text-center
                        p= ranking[0].description
                    li.list-group-item
                        div(style="width: 50%; display: inline-block; padding-right: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-star
                                = " " + ranking[0].stargazers_count + " Star"
                        div(style="width: 50%; display: inline-block; padding-left: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-code-fork
                                = " " + ranking[0].forks_count + " Fork"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                ul.list-group
                    li.list-group-item.silver.medal-title.text-center
                        a(href="/repositories/" + ranking[2].repository_id)= ranking[1].name.replace(/.*\//, "")
                    li.list-group-item.medal-description.text-center
                        p= ranking[1].description
                    li.list-group-item
                        div(style="width: 50%; display: inline-block; padding-right: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-star
                                = " " + ranking[1].stargazers_count + " Star"
                        div(style="width: 50%; display: inline-block; padding-left: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-code-fork
                                = " " + ranking[1].forks_count + " Fork"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                ul.list-group
                    li.list-group-item.bronze.medal-title.text-center
                        a(href="/repositories/" + ranking[2].repository_id)= ranking[2].name.replace(/.*\//, "")
                    li.list-group-item.medal-description.text-center
                        p= ranking[2].description
                    li.list-group-item
                        div(style="width: 50%; display: inline-block; padding-right: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-star
                                = " " + ranking[2].stargazers_count + " Star"
                        div(style="width: 50%; display: inline-block; padding-left: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-code-fork
                                = " " + ranking[2].forks_count + " Fork"
        .row.hidden-sm.hidden-xs
            .col-lg-6.col-md-6
                - var i = 4
                ul.list-group
                    for item in ranking.slice(3, 52)
                        li.list-group-item
                            a.list-item-title(href="/repositories/" + item.repository_id)= item.name + "　"
                            span
                                i.fa.fa-star
                                = " " + item.stargazers_count
                            span.pull-right.badge= i++
                            //p.list-item-description= item.description
            .col-lg-6.col-md-6
                ul.list-group
                    for item in ranking.slice(52, 100)
                        li.list-group-item
                            a.list-item-title(href="/repositories/" + item.repository_id)= item.name + "　"
                            span
                                i.fa.fa-star
                                = " " + item.stargazers_count
                            span.pull-right.badge= i++
                            //p.list-item-description= item.description
        .row.hidden-md.hidden-lg
            .col-sm-12.col-xs-12
                ul.list-group
                    - var i = 4
                    for item in ranking
                        li.list-group-item
                            a.list-item-title(href="/repositories/" + item.repository_id)= item.name + "　"
                            span
                                i.fa.fa-star
                                = " " + item.stargazers_count
                            span.pull-right.badge= i++
                            //p.list-item-description= item.description
