extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/github-markdown-css/2.6.0/github-markdown.min.css")
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")

block content
    .repository-header.row
        .col-lg-8.col-md-8
            #rid.hidden= repository.repository_id
            .repository-title
                h3
                    a(href="https://github.com/" + repository.full_name)= repository.full_name
        .col-lg-4.col-md-4
    .row.hidden-sm.hidden-xs(style="margin-top: 10px;")
        if readme
            .col-lg-8.col-md-8.markdown-body.readme= readme
        else
            .col-lg-8.col-md-8
                ul.list-group.empty-list.text-center
                    li.list-group-item
                        i.fa.fa-github
                        = " This repository seems to have no readme in its default branch."
        .col-lg-4.col-md-4
            .list-title Information
            ul.list-group
                li.list-group-item
                    | Created by
                    a(href="https://github.com/" + repository.full_name.slice(0, repository.full_name.indexOf("/")))= " " + repository.full_name.slice(0, repository.full_name.indexOf("/"))
                li.list-group-item
                    a(href="https://github.com/" + repository.full_name)= "github.com/" + repository.full_name
                li.list-group-item Licensed with
                    a(href="https://github.com/" + repository.full_name)= " " + (repository.license ? repository.license : "MIT")
                li.list-group-item
                    span.pull-left= "Developed with："
                    span.badge(style="float: left;" + (language_style[repository.language] ? "background-color: " + language_style[repository.language].color + ";" : ""))
                        a(style="color: white;" href="/search?language=" + repository.language ? repository.language : "")= " " + repository.language ? repository.language : "Unknown"
                    | 　
                if repository.topics && repository.topics.length != 0
                    li.list-group-item.text-center
                        for topic in repository.topics
                            span.badge(style="float: none; margin-left: 3px; margin-right: 3px;")
                                a(style="color: white;" href="/search?topic=" + topic)= topic
                        | 　
            .list-title Stat
            ul.list-group
                li.list-group-item
                    i.fa.fa-star
                    = " " + (repository.stargazers_count ? repository.stargazers_count : 0) + " stars"
                li.list-group-item
                    i.fa.fa-eye
                    = " " + (repository.watchers_count ? repository.watchers_count : 0) + " watchers"
                li.list-group-item
                    i.fa.fa-exclamation-circle
                    = " " + (repository.open_issues_count ? repository.open_issues_count : 0) + " open issues"
                li.list-group-item
                    i.fa.fa-code-fork
                    = " " + (repository.forks_count ? repository.forks_count : 0) + " forks"
            .list-title
                | Related Repositories
                span.pull-right
                    a.refresher.darkgray(title="refresh")
                        i.fa.fa-refresh
            ul.list-group#recommendation-container
    .row.hidden-lg.hidden-md(style="margin-top: 10px;")
        .col-sm-6.col-xs-6
            ul.list-group
                li.list-group-item
                    | Created by
                    a(href="https://github.com/" + repository.full_name.slice(0, repository.full_name.indexOf("/")))= " " + repository.full_name.slice(0, repository.full_name.indexOf("/"))
                li.list-group-item
                    a(href="https://github.com/" + repository.full_name)= "github.com/" + repository.full_name
                li.list-group-item Last updated at
                    strong= " " + new Date().format("yyyy-MM-dd hh:mm:ss")
                li.list-group-item
                    span.pull-left= "Developed with："
                    span.badge(style="float: left;" + (language_style[repository.language] ? "background-color: " + language_style[repository.language].color + ";" : ""))
                        a(style="color: white;" href="/search?language=" + repository.language ? repository.language : "")= " " + repository.language ? repository.language : "Unknown"
                    | 　
        .col-sm-6.col-xs-6
            ul.list-group
                li.list-group-item
                    i.fa.fa-star
                    = " " + (repository.stargazers_count ? repository.stargazers_count : 0) + " stars"
                li.list-group-item
                    i.fa.fa-eye
                    = " " + (repository.watchers_count ? repository.watchers_count : 0) + " watchers"
                li.list-group-item
                    i.fa.fa-exclamation-circle
                    = " " + (repository.open_issues_count ? repository.open_issues_count : 0) + " open issues"
                li.list-group-item
                    i.fa.fa-code-fork
                    = " " + (repository.forks_count ? repository.forks_count : 0) + " forks"
        .col-sm-12.col-xs-12
            if readme
                .markdown-body.readme(style="display: none;")= readme
                button.btn.btn-default.btn-flat.btn-block#readme-viewer
                    a show README
            else
                ul.list-group.empty-list.text-center
                    li.list-group-item
                        i.fa.fa-github
                        = " This repository seems to have no readme in its default branch."
        .col-sm-12.col-xs-12(style="margin-top: 10px;")
            .list-title Related Repositories
            ul.list-group
                button.btn.btn-default.btn-flat.btn-block#recommendation-refresher
                    a Show More

    script(type="text/javascript" src="/javascript/repository.js")