extends ./layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/github-markdown-css/2.6.0/github-markdown.min.css")
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")

block content
    .row
        .col-xs-10
            h4 Today's Top 3 Trending Repositories
        .col-xs-2
            h4.pull-right
                a.darkgray(href="/ranking" title="more")
                    = "more "
                    i.fa.fa-angle-double-right
    .row
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            ul.list-group
                li.list-group-item.golden.medal-title.text-center
                    a(href="/repositories/" + ranking[0].full_name)= ranking[0].full_name.replace(/.*\//, "")
                li.list-group-item.medal-description.text-center
                    p= ranking[0].description
                li.list-group-item
                    div(style="width: 50%; display: inline-block; padding-right: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-star
                                = " " + ranking[0].stargazers_count + " Star"
                    div(style="width: 50%; display: inline-block; padding-left: 5px;")
                            a.btn.btn-default.btn-block.btn-flat
                                i.fa.fa-code-fork
                                = " " + ranking[0].forks_count + " Fork"
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            ul.list-group
                li.list-group-item.silver.medal-title.text-center
                    a(href="/repositories/" + ranking[1].full_name)= ranking[1].full_name.replace(/.*\//, "")
                li.list-group-item.medal-description.text-center
                    p= ranking[1].description
                li.list-group-item
                    div(style="width: 50%; display: inline-block; padding-right: 5px;")
                        a.btn.btn-default.btn-block.btn-flat
                            i.fa.fa-star
                            = " " + ranking[1].stargazers_count + " Star"
                    div(style="width: 50%; display: inline-block; padding-left: 5px;")
                        a.btn.btn-default.btn-block.btn-flat
                            i.fa.fa-code-fork
                            = " " + ranking[1].forks_count + " Fork"
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            ul.list-group
                li.list-group-item.bronze.medal-title.text-center
                    a(href="/repositories/" + ranking[2].full_name)= ranking[2].full_name.replace(/.*\//, "")
                li.list-group-item.medal-description.text-center
                    p= ranking[2].description
                li.list-group-item
                    div(style="width: 50%; display: inline-block; padding-right: 5px;")
                        a.btn.btn-default.btn-block.btn-flat
                            i.fa.fa-star
                            = " " + ranking[2].stargazers_count + " Star"
                    div(style="width: 50%; display: inline-block; padding-left: 5px;")
                        a.btn.btn-default.btn-block.btn-flat
                            i.fa.fa-code-fork
                            = " " + ranking[2].forks_count + " Fork"
    .row(style="margin-top: 10px;")
        .col-lg-8.col-md-8.col-sm-12.col-xs-12
            .list-title(style="display: inline-block;") Events
            if user
                .btn-group.pull-right
                    button.event-switcher.btn.btn-xs.btn-inverse(target="#broadcast-event-container" style="width: 70px;") All
                    button.event-switcher.btn.btn-xs.btn-default(target="#following-event-container" style="width: 70px;") Follow
                ul.list-group#broadcast-event-container
                    button.btn.btn-default.btn-flat.btn-block#broadcast-event-refresher
                        a Show More
                ul.list-group#following-event-container(style="display: none;")
                    button.btn.btn-default.btn-flat.btn-block#following-event-refresher
                        a Show More
            else
                ul.list-group#event-container
                    button.btn.btn-default.btn-flat.btn-block#event-refresher
                        a Show More
        .col-lg-4.col-md-4.hidden-sm.hidden-xs
            .list-title
                | You might like ...
                span.pull-right
                    a.refresher.darkgray(title="refresh")
                        i.fa.fa-refresh
            ul.list-group#recommendation-container
        .visible-sm.visible-xs.col-sm-12.col-xs-12
            .list-title
                | You might like ...
            ul.list-group
                button.btn.btn-default.btn-flat.btn-block#recommendation-refresher
                    a Show More
    script(type="text/javascript" src="/javascript/home.js")